In [21]:
import quandl
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller

In [22]:
quandl.ApiConfig.api_key = "uCTgSRuMQd--79XBCzhz"

In [23]:
df_gdp = quandl.get("FRED/GDPC1")

In [24]:
df_gdp.tail()

                Value
Date
2017-10-01  18223.758
2018-01-01  18323.963
2018-04-01  18511.576
2018-07-01  18664.973
2018-10-01  18784.632

In [25]:
df_ics = quandl.get("UMICH/SOC1")

In [26]:
df_ics.tail()

            Index
Date
2018-09-30  100.1
2018-10-31   98.6
2018-11-30   97.5
2018-12-31   98.3
2019-01-31   91.2

In [27]:
df_bp = quandl.get("FRED/PERMIT")

In [28]:
df_bp.tail()

             Value
Date
2018-08-01  1249.0
2018-09-01  1270.0
2018-10-01  1265.0
2018-11-01  1322.0
2018-12-01  1326.0

In [29]:
df_gdp3 = (df_gdp / df_gdp.shift(1) - 1) * 100

In [30]:
df_gdp3.rename(columns={'Value':'GDP_Q1'},inplace=True)

In [31]:
df_gdp3.head()

              GDP_Q1
Date
1947-01-01       NaN
1947-04-01 -0.266691
1947-07-01 -0.206496
1947-10-01  1.564208
1948-01-01  1.504256

In [32]:
df_gdp6 = (df_gdp / df_gdp.shift (2) - 1) * 100

In [33]:
df_gdp6.rename(columns={'Value':'GDP_Q2'},inplace=True)

In [34]:
df_gdp9 = (df_gdp / df_gdp.shift (3) - 1) * 100

In [35]:
df_gdp9.rename(columns={'Value':'GDP_Q3'},inplace=True)

In [36]:
df_gdp12 = (df_gdp / df_gdp.shift (4) - 1) * 100

In [37]:
df_gdp12.rename(columns={'Value':'GDP_Q4'},inplace=True)

In [38]:
df_ics3 = (df_ics / df_ics.shift (1) - 1) * 100

In [39]:
df_ics3.rename(columns={'Index':'ICS_Q1'},inplace=True)

In [40]:
df_ics6 = (df_ics / df_ics.shift (2) - 1) * 100

In [41]:
df_ics6.rename(columns={'Index':'ICS_Q2'},inplace=True)

In [42]:
df_ics9 = (df_ics / df_ics.shift (3) - 1) * 100

In [43]:
df_ics9.rename(columns={'Index':'ICS_Q3'},inplace=True)

In [44]:
df_ics12 = (df_ics / df_ics.shift (4) - 1) * 100

In [45]:
df_ics12.rename(columns={'Index':'ICS_Q4'},inplace=True)

In [46]:
df_bp3 = (df_bp / df_bp.shift (1) - 1) * 100

In [47]:
df_bp3.rename(columns={'Value':'BP_Q1'},inplace=True)

In [48]:
df_bp6 = (df_bp / df_bp.shift (2) - 1) * 100

In [49]:
df_bp6.rename(columns={'Value':'BP_Q2'},inplace=True)

In [50]:
df_bp9 = (df_bp / df_bp.shift (3) - 1) * 100

In [51]:
df_bp9.rename(columns={'Value':'BP_Q3'},inplace=True)

In [52]:
df_bp12 = (df_bp / df_bp.shift (4) - 1) * 100

In [53]:
df_bp12.rename(columns={'Value':'BP_Q4'},inplace=True)

In [54]:
df = df_gdp3.join(df_gdp6)
df = df.join(df_gdp9)
df = df.join(df_gdp12)
df = df.join(df_ics3, how='outer')
df['ICS_Q1'] = df['ICS_Q1'].fillna(method='ffill')
df = df.join(df_ics6, how='outer')
df['ICS_Q2'] = df['ICS_Q2'].fillna(method='ffill')
df = df.join(df_ics9, how='outer')
df['ICS_Q3'] = df['ICS_Q3'].fillna(method='ffill')
df = df.join(df_ics12, how='outer')
df['ICS_Q4'] = df['ICS_Q4'].fillna(method='ffill')
df = df.join(df_bp3)
df = df.join(df_bp6)
df = df.join(df_bp9)
df = df.join(df_bp12)
df=df.dropna()
df.tail()

,GDP_Q1,GDP_Q2,GDP_Q3,GDP_Q4,ICS_Q1,ICS_Q2,ICS_Q3,ICS_Q4,BP_Q1,BP_Q2,BP_Q3,BP_Q4
Date,,,,,,,,,,,,
2017-10-01,0.567937,1.270387,2.019451,2.471707,-1.756198,1.820128,0.105263,-2.059732,7.097289,3.307692,6.756757,2.362805
2018-01-01,0.549859,1.120919,1.827231,2.580414,-2.639594,-4.766634,0.841220,-0.929752,3.484848,3.250189,1.712584,8.931419
2018-04-01,1.023867,1.579356,2.156263,2.869807,1.705115,5.956113,5.735141,2.944162,-0.944081,3.099017,-0.146413,3.333333
2018-07-01,0.828654,1.861006,2.421098,3.002785,0.204082,-0.607287,-3.155819,-1.504514,0.851393,0.153728,-4.472141,-5.374001
2018-10-01,0.641089,1.475055,2.514025,3.077708,4.054054,2.247191,1.934827,2.142857,-0.393701,1.281025,-2.916347,-2.089783

In [55]:
df1 = pd.read_csv('Desktop/G_blog/Sp500.csv', usecols=['Date', 'Adj Close'], index_col = 'Date', parse_dates=True)

In [56]:
df1.head()

            Adj Close
Date
1951-01-01  21.660000
1951-02-01  21.799999
1951-03-01  21.400000
1951-04-01  22.430000
1951-05-01  21.520000

In [57]:
df = df.join(df1, how='outer')
df['Adj Close'] = df['Adj Close'].fillna(method='ffill')
df = df.dropna()

In [58]:
df['Adj Close'] = (df['Adj Close'] / df['Adj Close'].shift(1) - 1) * 100
df.tail(10)

,GDP_Q1,GDP_Q2,GDP_Q3,GDP_Q4,ICS_Q1,ICS_Q2,ICS_Q3,ICS_Q4,BP_Q1,BP_Q2,BP_Q3,BP_Q4,Adj Close
Date,,,,,,,,,,,,,
2016-07-01,0.477906,1.046208,1.434904,1.536247,-1.267159,5.056180,2.747253,1.962923,-0.753769,-0.587248,1.979346,7.142857,5.243792
2016-10-01,0.437574,0.917572,1.488361,1.878757,1.559020,1.333333,-2.459893,-3.695882,0.000000,6.778243,7.679325,6.867672,-2.183023
2017-01-01,0.443304,0.882818,1.364944,1.938263,4.690832,12.614679,7.675439,9.354120,5.225653,6.405124,4.153605,4.153605,7.182947
2017-04-01,0.739668,1.186251,1.629016,2.114707,0.623053,-1.624365,-1.323829,3.304904,-1.876466,0.560897,-5.568096,-0.633413,4.622020
2017-07-01,0.698483,1.443317,1.893019,2.338877,-2.162719,-2.061856,-1.960784,-1.349948,-4.115854,4.398340,0.239044,-1.641908,3.611278
2017-10-01,0.567937,1.270387,2.019451,2.471707,-1.756198,1.820128,0.105263,-2.059732,7.097289,3.307692,6.756757,2.362805,4.248875
2018-01-01,0.549859,1.120919,1.827231,2.580414,-2.639594,-4.766634,0.841220,-0.929752,3.484848,3.250189,1.712584,8.931419,9.651455
2018-04-01,1.023867,1.579356,2.156263,2.869807,1.705115,5.956113,5.735141,2.944162,-0.944081,3.099017,-0.146413,3.333333,-6.224215
2018-07-01,0.828654,1.861006,2.421098,3.002785,0.204082,-0.607287,-3.155819,-1.504514,0.851393,0.153728,-4.472141,-5.374001,6.353354
2018-10-01,0.641089,1.475055,2.514025,3.077708,4.054054,2.247191,1.934827,2.142857,-0.393701,1.281025,-2.916347,-2.089783,-3.712332

In [59]:
df['Adj Close'] = df['Adj Close'].shift(-1)
df = df.dropna()
df.head(10)

,GDP_Q1,GDP_Q2,GDP_Q3,GDP_Q4,ICS_Q1,ICS_Q2,ICS_Q3,ICS_Q4,BP_Q1,BP_Q2,BP_Q3,BP_Q4,Adj Close
Date,,,,,,,,,,,,,
1960-07-01,0.489275,-0.052751,2.193361,2.484652,-6.700000,-0.533049,-2.098636,2.753304,4.279749,-5.038023,-1.673228,4.607330,-3.819130
1960-10-01,-1.283434,-0.800439,-1.335508,0.881777,4.180064,-2.800000,3.624733,1.993704,-1.219512,-2.213280,-2.702703,1.461378,15.714554
1961-01-01,0.675029,-0.617068,-0.130813,-0.669494,-7.304527,-3.429796,-9.900000,-3.944563,1.892744,-1.021450,-0.308642,-1.524390,5.713822
1961-04-01,1.697479,2.383966,1.069936,1.564445,1.664817,-5.761317,-1.822079,-8.400000,0.200000,4.266389,3.405573,5.362776,2.220187
1961-07-01,1.919639,3.649703,4.349369,3.010114,0.982533,2.663707,-4.835391,-0.857449,1.214953,5.452775,8.083832,8.300000,2.786101
1961-10-01,1.961109,3.918395,5.682387,6.395774,7.243243,8.296943,10.099889,2.057613,2.276867,-3.106126,3.693444,4.953271,0.320596
1962-01-01,1.783599,3.779687,5.771883,7.567338,-6.250000,0.540541,1.528384,3.218646,-3.359173,-2.604167,-0.089047,2.185792,-5.229515
1962-04-01,0.903672,2.703389,4.717515,6.727713,7.419355,0.705645,8.000000,9.061135,8.906526,3.433836,10.071301,6.373816,-10.744939
1962-07-01,1.228508,2.143281,3.965108,6.003977,-4.504505,2.580645,-3.830645,3.135135,3.032929,4.115587,-3.724696,4.850088,-2.936631
1962-10-01,0.328861,1.561409,2.479190,4.307008,-3.983229,-8.308308,-1.505376,-7.661290,-3.434178,-1.583333,-0.672834,2.339688,17.126676

In [60]:
df.head()

,GDP_Q1,GDP_Q2,GDP_Q3,GDP_Q4,ICS_Q1,ICS_Q2,ICS_Q3,ICS_Q4,BP_Q1,BP_Q2,BP_Q3,BP_Q4,Adj Close
Date,,,,,,,,,,,,,
1960-07-01,0.489275,-0.052751,2.193361,2.484652,-6.700000,-0.533049,-2.098636,2.753304,4.279749,-5.038023,-1.673228,4.607330,-3.819130
1960-10-01,-1.283434,-0.800439,-1.335508,0.881777,4.180064,-2.800000,3.624733,1.993704,-1.219512,-2.213280,-2.702703,1.461378,15.714554
1961-01-01,0.675029,-0.617068,-0.130813,-0.669494,-7.304527,-3.429796,-9.900000,-3.944563,1.892744,-1.021450,-0.308642,-1.524390,5.713822
1961-04-01,1.697479,2.383966,1.069936,1.564445,1.664817,-5.761317,-1.822079,-8.400000,0.200000,4.266389,3.405573,5.362776,2.220187
1961-07-01,1.919639,3.649703,4.349369,3.010114,0.982533,2.663707,-4.835391,-0.857449,1.214953,5.452775,8.083832,8.300000,2.786101

In [61]:
basis_Y = df['Adj Close']
df = df.drop(['Adj Close'], axis=1)
basis_X = df

In [62]:
basis_Y_cl = basis_Y

In [63]:
basis_Y_cl.head()

Date
1960-07-01    -3.819130
1960-10-01    15.714554
1961-01-01     5.713822
1961-04-01     2.220187
1961-07-01     2.786101
Name: Adj Close, dtype: float64

In [64]:
basis_Y_cl[basis_Y_cl < 0] = 0
basis_Y_cl[basis_Y_cl > 0] = 1
basis_Y_cl.head()

Date
1960-07-01    0.0
1960-10-01    1.0
1961-01-01    1.0
1961-04-01    1.0
1961-07-01    1.0
Name: Adj Close, dtype: float64

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
basis_X_train, basis_X_test, basis_Y_cl_train, basis_Y_cl_test = train_test_split(basis_X, basis_Y_cl, shuffle=False, test_size=0.2)
print("\nbasis_X_train:\n")
print(basis_X_train.head(1))
print(basis_X_train.tail(1))
print(basis_X_train.shape)

print("\nbasis_X_test:\n")
print(basis_X_test.head(1))
print(basis_X_test.tail(1))
print(basis_X_test.shape)

basis_X_train:

              GDP_Q1    GDP_Q2    GDP_Q3    GDP_Q4  ICS_Q1    ICS_Q2  \
Date
1960-07-01  0.489275 -0.052751  2.193361  2.484652    -6.7 -0.533049

              ICS_Q3    ICS_Q4     BP_Q1     BP_Q2     BP_Q3    BP_Q4
Date
1960-07-01 -2.098636  2.753304  4.279749 -5.038023 -1.673228  4.60733
              GDP_Q1    GDP_Q2   GDP_Q3    GDP_Q4    ICS_Q1    ICS_Q2  \
Date
2006-10-01  0.851865  1.007815  1.24387  2.590704  4.146341  0.826446

              ICS_Q3    ICS_Q4     BP_Q1     BP_Q2      BP_Q3      BP_Q4
Date
2006-10-01  0.588928  7.964602 -5.135952 -8.826945 -10.947249 -15.907874
(186, 12)

basis_X_test:

              GDP_Q1    GDP_Q2    GDP_Q3    GDP_Q4    ICS_Q1    ICS_Q2  \
Date
2007-01-01  0.235493  1.089364  1.245682  1.482293 -0.434311 -2.029915

              ICS_Q3     ICS_Q4     BP_Q1     BP_Q2     BP_Q3     BP_Q4
Date
2007-01-01  7.377049  11.829268 -0.732601  5.928339  3.566879 -1.752266
              GDP_Q1    GDP_Q2    GDP_Q3    GDP_Q4    ICS_Q1    ICS_Q2  \
Date
2018-07-01  0.828654  1.861006  2.421098  3.002785  0.204082 -0.607287

              ICS_Q3    ICS_Q4     BP_Q1     BP_Q2     BP_Q3     BP_Q4
Date
2018-07-01 -3.155819 -1.504514  0.851393  0.153728 -4.472141 -5.374001
(47, 12)

In [67]:
from sklearn.linear_model import LogisticRegression
regr = LogisticRegression()
    # Train the model using the training sets
regr.fit(basis_X_train, basis_Y_cl_train)
    # Make predictions using the testing set
basis_Y_cl_pred = regr.predict(basis_X_test)
basis_Y_cl_pred

C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [68]:
from sklearn.metrics import accuracy_score
accuracy_score(basis_Y_cl_test, basis_Y_cl_pred)

0.6595744680851063

In [69]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(regr.score(basis_X_test, basis_Y_cl_test)))

Accuracy of logistic regression classifier on test set: 0.66

In [70]:
from sklearn import tree
dec = tree.DecisionTreeClassifier()
dec.fit(basis_X_train, basis_Y_cl_train)
basis_Y_cl_pred = dec.predict(basis_X_test)
basis_Y_cl_pred

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 1., 1., 0., 1.,
       0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1.])

In [71]:
accuracy_score(basis_Y_cl_test, basis_Y_cl_pred)

0.48936170212765956

In [72]:
from sklearn.svm import SVC
clf = SVC(gamma='auto')
clf.fit(basis_X_train, basis_Y_cl_train)
basis_Y_cl_pred = clf.predict(basis_X_test)
basis_Y_cl_pred

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [73]:
accuracy_score(basis_Y_cl_test, basis_Y_cl_pred)

0.6808510638297872

In [74]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier()
neigh.fit(basis_X_train, basis_Y_cl_train)
basis_Y_cl_pred = neigh.predict(basis_X_test)
basis_Y_cl_pred

array([1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 0.,
       1., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 0., 1.])

In [75]:
accuracy_score(basis_Y_cl_test, basis_Y_cl_pred)

0.5106382978723404

In [133]:
from sklearn.model_selection import cross_val_score
res = cross_val_score(neigh, basis_X, basis_Y_cl, cv=3, scoring="accuracy")

C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [134]:
res.mean()

0.6135531135531135

In [136]:
res = cross_val_score(clf, basis_X, basis_Y_cl, cv=3, scoring="accuracy")

C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [137]:
res.mean()

0.601065601065601

In [138]:
res = cross_val_score(dec, basis_X, basis_Y_cl, cv=3, scoring="accuracy")

C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [139]:
res.mean()

0.6438006438006438

In [120]:
res = cross_val_score(regr, basis_X, basis_Y_cl, cv=3, scoring="accuracy")

C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [122]:
res.mean()

0.6096126096126097

In [123]:
from sklearn.model_selection import GridSearchCV
tuned_parameters = {'C': [0.1, 0.5, 1, 5, 10, 50, 100]}
regr = GridSearchCV(LogisticRegression(solver='liblinear'), tuned_parameters, cv=3, scoring="accuracy")
regr.fit(basis_X, basis_Y_cl)

C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': [0.1, 0.5, 1, 5, 10, 50, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [125]:
print(regr.best_params_)
print(regr.best_score_)

{'C': 1}
0.6137339055793991

In [126]:
predictions = regr.predict(basis_X_test)
print(accuracy_score(basis_Y_cl_pred, predictions))

0.851063829787234

In [127]:
regr = LogisticRegression(C=0.1, solver='liblinear')
regr.fit(basis_X_train, basis_Y_cl_train)

predictions = regr.predict(basis_X_test)
print(accuracy_score(basis_Y_cl_pred, predictions))

0.8085106382978723

In [128]:
from sklearn.tree import DecisionTreeClassifier
tree_para = {'criterion':['gini','entropy'],'max_depth':[1,2,3,4,5,6]}
dec = GridSearchCV(DecisionTreeClassifier(), tree_para, cv=5)
dec.fit(basis_X, basis_Y_cl)

C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'criterion': ['gini', 'entropy'], 'max_depth': [1, 2, 3, 4, 5, 6]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [129]:
print(dec.best_params_)
print(dec.best_score_)

{'criterion': 'gini', 'max_depth': 2}
0.648068669527897

In [130]:
predictions = dec.predict(basis_X_test)
print(accuracy_score(basis_Y_cl_pred, predictions))

0.8723404255319149

In [160]:
from sklearn.model_selection import GridSearchCV

# Create my estimator and prepare the parameter grid dictionary
params_dict = {"C": np.linspace(0.000001, 0.1, 10), "gamma": np.linspace(0.0001, 10, 10)}
svm = SVC(kernel="rbf")

clf = GridSearchCV(estimator=svm, param_grid=params_dict)
clf.fit(basis_X, basis_Y_cl)

C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': array([1.0000e-06, 1.1112e-02, 2.2223e-02, 3.3334e-02, 4.4445e-02,
       5.5556e-02, 6.6667e-02, 7.7778e-02, 8.8889e-02, 1.0000e-01]), 'gamma': array([1.0000e-04, 1.1112e+00, 2.2223e+00, 3.3334e+00, 4.4445e+00,
       5.5556e+00, 6.6667e+00, 7.7778e+00, 8.8889e+00, 1.0000e+01])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [161]:
print(clf.best_params_)
print(clf.best_score_)

{'C': 1e-06, 'gamma': 0.0001}
0.6437768240343348

In [109]:
predictions = clf.predict(basis_X_test)
print(accuracy_score(basis_Y_cl_pred, predictions))

0.7446808510638298

In [166]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier()
grid_params = {
    'n_neighbors':[19,20,25,30,35,40, 45, 60],
    'weights':['uniform', 'distance'],
    'metric':['euclidean','manhattan']
    }
neigh = GridSearchCV(KNeighborsClassifier(), grid_params, cv = 10, scoring = 'accuracy')
neigh.fit(basis_X, basis_Y_cl)

C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_neighbors': [19, 20, 25, 30, 35, 40, 45, 60], 'weights': ['uniform', 'distance'], 'metric': ['euclidean', 'manhattan']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [167]:
print(neigh.best_params_)
print(neigh.best_score_)

{'metric': 'euclidean', 'n_neighbors': 60, 'weights': 'uniform'}
0.6437768240343348

In [144]:
predictions = neigh.predict(basis_X_test)
print(accuracy_score(basis_Y_cl_pred, predictions))

0.851063829787234

In [168]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
log_clf = LogisticRegression(C = 1)
rnd_clf = RandomForestClassifier(max_depth = 2)
svm_clf = SVC(gamma = 0.0001, C = 0.00001)
neigh_clf = KNeighborsClassifier(n_neighbors = 60)
voting_clf = VotingClassifier(
    estimators=[('lr', log_clf), ('rf', rnd_clf), ('svc', svm_clf),('knn',neigh_clf)],
    voting='hard')
#voting_clf.fit(basis_X_train, basis_Y_cl_train)
cross_val_score(voting_clf, basis_X, basis_Y_cl, cv=3, scoring="accuracy")

C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.58974359, 0.65384615, 0.66233766])

In [169]:
from sklearn.metrics import accuracy_score
for clf in (log_clf, rnd_clf, svm_clf, voting_clf, neigh_clf):
    clf.fit(basis_X_train, basis_Y_cl_train)
    basis_Y_cl_pred = clf.predict(basis_X_test)
    print(clf.__class__.__name__, accuracy_score(basis_Y_cl_test, basis_Y_cl_pred))

LogisticRegression 0.6595744680851063
RandomForestClassifier 0.6382978723404256
SVC 0.6808510638297872
VotingClassifier 0.6808510638297872
KNeighborsClassifier 0.6808510638297872

C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\AKINLOLU\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)